<h1>fill your interest</h1>

<%= form_for @award, url:awards_path  do |f| %>
 descripton: <%= f.text_field :description %><br/>
  <%=f.hidden_field :user_id, value: current_user.id%>
  <%= f.submit %>
<% end %>